h2{
	text-align: center;
}
.bop-it{
	margin: auto;
	width: 150px;
	height: 150px;
	border: 2px solid black;
	float: left;


}
#first_box{
	background : yellow;
	opacity: .3;
	

}
#second_box{
	background: blue;
	opacity: .3;

}
#third_box{
	background: red;
	clear: left;
	opacity: .3;	
}
#fourth_box{
	background: green;
	opacity: .3;
	
}
#start_button{
	margin-top: 300px;
	text-align: center;
}

