h2{
	text-align: center;
}
body{
background: url("https://i.ytimg.com/vi/ayBmsWKqdnc/maxresdefault.jpg");
	}

#goButton{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.innerCircle {
    width: 450px;
    height: 450px;
    background: black;
    -moz-border-radius: 225px;
    -webkit-border-radius: 225px;
    border-radius: 225px;
    position: relative;
    left: 25px;
    top: 25px;
    overflow: hidden;
    margin-right: auto;
    border: 4px solid black;
}
/*.bop-it{
  	width: 225px;
    height: 225px;
    padding: 0;
    border: 0;
    opacity: .3;
}*/
#first_box{
	width: 225px;
    height: 225px;
    padding: 0;
    border: 0;
	position: relative;
    background-color: red;
    right: 12.5px;
    bottom: 12.5px;
    opacity: .3;	
}
#second_box{
	width: 225px;
    height: 225px;
    padding: 0;
    border: 0;
	position: relative;
    background-color: blue;
    left: 240.5px;
    bottom: 240.5px;
	opacity: .3;

}
#third_box{
	width: 225px;
    height: 225px;
    padding: 0;
    border: 0;
	position: relative;
    background-color: yellow;
    bottom: 213.5px;
    right: 12.5px;
	opacity: .3;	
}
#fourth_box{
	width: 225px;
    height: 225px;
    padding: 0;
    border: 0;
	position: relative;
    background-color: green;
    bottom: 442.5px;
    left: 240.5px;
    opacity: .3;
	
}
#fifth_circle{
	position: relative;
    width: 100px;
    height: 100px;
    background: #432a8a;
    opacity: .6;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    bottom: 736px;
    left: 178px;
    z-index: 3;
    border: 2px solid black;
  }
  #fifth_circle, p{
  	color: white;
  	font-size: 1.3em;
  }

